<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Video Processor</title>
    </head>
    <body>
        <form action="http://127.0.0.1:5000/process" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept="video/*" required>
            <label for="param1">Choose a contrast option:</label>
            <select name="param1" id="contrast">
                <option value="0.3">Low</option>
                <option value="0.35">Medium</option>
                <option value="0.4">High</option>
            </select>
            <input type="text" name="param2" placeholder="Number of Frames" required>
            <input type="text" name="param3" placeholder="Frames to Skip" required>
            <label for="param1">Choose a level of damage to filter for:</label>
            <select name="param4" id="dmg">
                <option value="0.01">Low</option>
                <option value="0.02">Medium</option>
                <option value="0.03">High</option>
            </select>
            <input type="submit" value="Submit">
        </form>

        
        <div id="status"></div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            document.querySelector('form').addEventListener('submit', function(event) {
                event.preventDefault();

                var formData = new FormData(this);
                fetch('/process', {
                    method: 'POST',
                    body: formData
                }).then(function(response) {
                    pollForUpdates();
                });
            });

            function pollForUpdates() {
                fetch('/status').then(function(response) {
                    return response.json();
                }).then(function(data) {
                    console.log(data);
                    document.getElementById('status').textContent = data.status;

                    setTimeout(pollForUpdates, 1000);  // Poll every second
                });
            }

            pollForUpdates();
        </script>
    </body>
</html>