<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Processor</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/process" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept="video/*" required>
        
        <input type="text" name="param1" placeholder="Contrast Threshold" required>
        <input type="text" name="param2" placeholder="Number of Frames" required>
        <input type="text" name="param3" placeholder="Frames to Skip" required>

        <input type="submit" value="Submit">
    </form>

    <div>{{ message }}</div>
</body>
</html>